@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --my-font: "Bebas Neue", cursive;
  --my-btn-font: "Poppins", sans-serif;
  --title-size: 36px;
  --btn-font-size: 24px;
  --btn-title-font-size: 36px;
  --btns-bg: #0c0c26;
  --btn-border-radius: 10px;
  --max-btn-size: 400px;
  --my-img-link: url("../img/bg.jpg");
  --space-between-btn-letters: 2px;
  --icon-margin-right: 20px;
}

a {
  text-decoration: none;
}

h2 {
  color: #fff;
  text-align: center;
  font-size: var(--title-size);
  font-family: var(--my-font);
  letter-spacing: var(--space-between-btn-letters);
}

.container {
  background: var(--my-img-link) center center no-repeat;
  background-size: cover;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.btns_container {
  display: grid;
  width: 40vw;
  margin: 20vh 0 0 60vw;
  grid-template-columns: 1fr;
  justify-content: end;
  align-items: center;
}

.btns_titulo {
  font-size: 36px;
  margin: 40px auto 20px auto;
}

.btns_container .btn {
  margin: 40px auto;
  max-width: var(--max-btn-size);
}

.btns_container .btn i {
  margin-right: var(--icon-margin-right);
}

.btns_container .btn a {
  display: block;
  background: var(--btns-bg);
  color: #fff;
  font-size: var(--btn-font-size);
  font-family: var(--my-btn-font);
  border-radius: var(--btn-border-radius);
  border: none;
  outline: 0;
  cursor: pointer;
  padding: 20px 0;
  text-align: center;
  transition: all 0.3s ease-in;
}

.btns_container .btn a:hover {
  opacity: 0.8;
  transform: scale(1.09);
}

@media only screen and (max-width: 1050px) {
  .btns_titulo {
    font-size: 34px;
  }

  .btns_container .btn a:hover {
    transform: scale(1.04);
  }

  .btns_container .btn {
    max-width: 300px;
  }

  .btns_container .btn a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 776px) {
  .btns_container {
    margin: 20vh 0 0 55vw;
  }
}

@media only screen and (max-width: 776px) {
  .btns_container {
    display: grid;
    width: 100vw;
    margin: 60vh auto 0 auto;
    max-height: 100vh;
    justify-content: center;
  }
}

@media only screen and (max-width: 301px) {
  .btns_container {
    display: grid;
    width: 100vw;
    margin: 40vh auto 0 auto;
    max-height: 100vh;
    justify-content: center;
  }

  .btns_container .btn {
    max-width: 280px;
  }
}
